Adrien Berthet <adrien.berthet@ign.fr> Adrien <berthet.a@gmail.com>

Alexandre Devaux <alexandre.devaux@ign.fr> specialunit <alexandre.devaux@ign.fr>
Alexandre Devaux <alexandre.devaux@ign.fr> U-IGN\ADevaux <ADevaux@RKS1306W217.ign.fr>
Alexandre Devaux <alexandre.devaux@ign.fr> U-IGN\ADevaux <heythatsme@gmail.com>
Alexandre Devaux <alexandre.devaux@ign.fr> Alexandre Devaux <heythatsme@gmail.com>

Antoine Facchini <antoine.facchini@oslandia.com> Antoine <antoine@facchini.fr>

Augustin Trancart <augustin.trancart@oslandia.com> Augustin Trancart <augustin.trancart@gmail.com>

Benoît Blanc <benoit.blanc@oslandia.com>

Charles-Henry Vagner <cva@atolcd.com>

Charlie Ives <charlie.ives@argeo.no> charlie.ives <charlie.ives@argeo.no>

Florent Fougères <florent.fougeres@oslandia.com>

François Thierry <francois.thierry.github@gmail.com>

Gérald Choqueux <gerald.choqueux@ign.fr> gchoqueux <gchoqueux@ASU1210P001.ign.fr>
Gérald Choqueux <gerald.choqueux@ign.fr> Gérald Choqueux <gchoqueux@users.noreply.github.com>
Gérald Choqueux <gerald.choqueux@ign.fr> gchoqueux <gerald.choqueux@ign.fr>
Gérald Choqueux <gerald.choqueux@ign.fr> Gerald Choqueux <gerald.choqueux@ign.fr>

Gabriel Touzalin <gabriel.touzalin@gmail.com> Gabriel TOUZALIN <gabriel.touzalin@gmail.com>

Damien Despres <d_despres@hotmail.com> dds <d_despres@hotmail.com>

Jérémie Piellard <jeremie.piellard@gmail.com>

Jérémy Gaillard <jeremy.gaillard@oslandia.com> Jérémy Gaillard <jeremy.c.gaillard.pro@gmail.com>
Jérémy Gaillard <jeremy.gaillard@oslandia.com> Jeremy-Gaillard <jeremy.c.gaillard@gmail.com>

Karl Tayou <karl@vingtcinq.io> karl_tayou <karl@vingtcinq.io>

Mathieu Brédif <mathieu.bredif@ign.fr>

Mirela Konini <mirela.konini@ign.fr> Konini <mirela.konini@ign.fr>

Nicolas Saul <niikosaul@gmail.com>

Pierre-Éric Pelloux-Prayer <pierre-eric.pelloux-prayer@oslandia.com> pierre-eric <pierre-eric.pelloux-prayer@oslandia.com>
Pierre-Éric Pelloux-Prayer <pierre-eric.pelloux-prayer@oslandia.com> Pierre-Eric Pelloux-Prayer <pierre-eric.pelloux-prayer@oslandia.com>
Pierre-Éric Pelloux-Prayer <pierre-eric.pelloux-prayer@oslandia.com> Pierre-Eric Pelloux-Prayer <pierre-eric@damsy.net>

Quoc-Dinh Nguyen <nguyen.quocdinh@gmail.com> qdnguyen <nguyen.quocdinh@gmail.com>

Raphaël Delhome <raphael.delhome@oslandia.com>

Sandro Mani <manisandro@gmail.com>

Sébastien Guimmara <sebastien.guimmara@oslandia.com> Sébastien Guimmara <sguimmara@pobox.com>

Sylvain Beorchia <sylvain.beorchia@oslandia.com>

Thomas Broyer <t.broyer@ltgt.net>

Thomas Muguet <thomas.muguet@oslandia.com> Thomas Muguet <hi@tmuguet.me>

Victor Coindet <victor.coindet@ign.fr> vcoindet <victor.coindet@gmail.com>
Victor Coindet <victor.coindet@ign.fr> vcoindet <victor.coindet@ign.fr>
Victor Coindet <victor.coindet@ign.fr> VictorCo <victor.coindet@gmail.com>

Vincent Jaillot <vincentjaillot@gmail.com> jailln <vincentjaillot@gmail.com>

Vincent Mora <vincent.mora@oslandia.com> vmora <vincent.mora@oslandia.com>

Vincent Picavet <vincent.picavet@oslandia.com> <vpicavet@users.noreply.github.com>

Julien Moura <dev@ingeoveritas.com> Ju M <dev@ingeoveritas.com>

Éric Lemoine <eric.lemoine@gmail.com> Éric Lemoine <eric.lemoine@oslandia.com>

