<!doctype html>
<html lang="en">
    <head>
        <%- include('partial-head', {
            title: 'Sponsors',
            name: 'Sponsors',
            description: 'A versatile framework to visualize geospatial data in the browser.',
            url: 'https://giro3d.org/sponsors.html',
        }) %>
    </head>

    <body>
        <%- include('navbar', { activeId: 'sponsors'} ) %>

        <main class="p-4 container">
            <section class="p-2">
                <h5>Sponsors</h5>
                <p>Giro3D and Piero are sponsored by the following organizations:</p>

                <div class="row" data-masonry='{"percentPosition": true }'>
                    <!-- Osandia -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/oslandia.png"
                                    class="card-img-top"
                                    alt="Oslandia"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Oslandia</h5>
                                <p class="card-text">Oslandia is Giro3D maintainer.</p>
                                <a href="https://oslandia.com/" class="card-link"
                                    >Oslandia website</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- BPI France -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/bpi_france.png"
                                    class="card-img-top"
                                    alt="BPI France"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">BPI France</h5>
                                <a href="https://www.bpifrance.com/" class="card-link"
                                    >BPI France</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- France 2030 -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/france_2030.png"
                                    class="card-img-top"
                                    alt="France 2030"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">France 2030</h5>
                                <p class="card-text">
                                    Funded by the French government as part of France 2030.
                                </p>
                                <a href="https://www.economie.gouv.fr/france-2030" class="card-link"
                                    >France 2030</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- France relance -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/france_relance.png"
                                    class="img-fluid logo mb-5"
                                    alt="France Relance"
                                /><img
                                    src="/images/sponsors/ue_next_generation.png"
                                    class="img-fluid logo"
                                    alt="European Union - Next Generation EU"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">France Relance</h5>
                                <p class="card-text">
                                    Funded by the European Union - Next Generation EU as part of the
                                    France Relance plan
                                </p>
                                <a
                                    href="https://www.info.gouv.fr/grand-dossier/france-relance"
                                    class="card-link"
                                    >France Relance</a
                                >
                                <a href="https://next-generation-eu.europa.eu" class="card-link"
                                    >NextGenerationEU</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- Région Auvergne-Rhône-Alpes -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/logo-aura.png"
                                    class="card-img-top"
                                    alt="La Région Auvergne-Rhône-Alpes"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">La Région Auvergne-Rhône-Alpes</h5>
                                <p class="card-text">
                                    Funded by La Région Auvergne-Rhône-Alpes through a R&D Booster
                                    project
                                </p>
                                <a href="https://www.auvergnerhonealpes.fr/" class="card-link"
                                    >Website</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- Loftmyndir -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/loftmyndir.png"
                                    class="card-img-top"
                                    alt="Loftmyndir"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Loftmyndir</h5>
                                <p class="card-text">
                                    Loftmyndir uses Giro3D to display the 3D map of Iceland.
                                </p>
                                <a href="https://www.loftmyndir.is/" class="card-link"
                                    >Loftmyndir website</a
                                >
                                <a href="https://3d.map.is" class="card-link">3d.map.is</a>
                            </div>
                        </div>
                    </div>
                </div>

                <p>
                    If you wish to sponsor Giro3D and Piero, you can contact us at
                    <a href="mailto:infos+3d@oslandia.com">infos+3d@oslandia.com</a>.
                </p>
            </section>
        </main>
    </body>
</html>
