<!doctype html>
<html lang="en">
    <head>
        <%- include('partial-head', {
            title: 'Sponsors',
            name: 'Sponsors',
            description: 'A versatile framework to visualize geospatial data in the browser.',
            url: 'https://giro3d.org/sponsors.html',
        }) %>
    </head>

    <body>
        <%- include('navbar', { activeId: 'sponsors'} ) %>

        <main class="p-4 container">
            <section class="p-2">
                <h5>Sponsors</h5>
                <p>Giro3D and Piero are sponsored by the following organizations:</p>

                <div class="row" data-masonry='{"percentPosition": true }'>
                    <!-- Osandia -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/oslandia_logo_rectangle.svg"
                                    class="card-img-top"
                                    alt="Oslandia"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Oslandia</h5>
                                <p class="card-text">Oslandia is Giro3D maintainer.</p>
                                <a href="https://oslandia.com/" target="_blank" class="card-link"
                                    >Oslandia website</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- My digital buildings -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/my_digital_buildings.svg"
                                    class="card-img-top"
                                    alt="My Digital Buildings"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">My Digital Buildings</h5>
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>
                                            “Giro3D makes excellent technical choices, notably by
                                            integrating the open 3D Tiles format and by allowing the
                                            Coordinates Reference System to be declared for all
                                            spatial data.
                                        </p>
                                        <p>
                                            The viewer is extremely powerful, so it's only natural
                                            that we should support this project.”
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        Emeric Mourot, CEO
                                    </figcaption>
                                </figure>
                                <a
                                    href="https://www.mydigitalbuildings.com"
                                    target="_blank"
                                    class="card-link"
                                    >Website</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- BPI France -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/bpi_france.png"
                                    class="card-img-top"
                                    alt="BPI France"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">BPI France</h5>
                                <a
                                    href="https://www.bpifrance.com/"
                                    target="_blank"
                                    class="card-link"
                                    >BPI France</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- France 2030 -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/france_2030.png"
                                    class="card-img-top"
                                    alt="France 2030"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">France 2030</h5>
                                <p class="card-text">
                                    Funded by the French government as part of France 2030.
                                </p>
                                <a
                                    href="https://www.economie.gouv.fr/france-2030"
                                    target="_blank"
                                    class="card-link"
                                    >France 2030</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- France relance -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/france_relance.png"
                                    class="img-fluid logo mb-5"
                                    alt="France Relance"
                                /><img
                                    src="/images/sponsors/ue_next_generation.png"
                                    class="img-fluid logo"
                                    alt="European Union - Next Generation EU"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">France Relance</h5>
                                <p class="card-text">
                                    Funded by the European Union - Next Generation EU as part of the
                                    France Relance plan
                                </p>
                                <a
                                    href="https://www.info.gouv.fr/grand-dossier/france-relance"
                                    target="_blank"
                                    class="card-link"
                                    >France Relance</a
                                >
                                <a
                                    href="https://next-generation-eu.europa.eu"
                                    target="_blank"
                                    class="card-link"
                                    >NextGenerationEU</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- Région Auvergne-Rhône-Alpes -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/logo-aura.png"
                                    class="card-img-top"
                                    alt="La Région Auvergne-Rhône-Alpes"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">La Région Auvergne-Rhône-Alpes</h5>
                                <p class="card-text">
                                    Funded by La Région Auvergne-Rhône-Alpes through a R&D Booster
                                    project
                                </p>
                                <a
                                    href="https://www.auvergnerhonealpes.fr/"
                                    target="_blank"
                                    class="card-link"
                                    >Website</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- Loftmyndir -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/loftmyndir.png"
                                    class="card-img-top"
                                    alt="Loftmyndir"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Loftmyndir</h5>
                                <p class="card-text">
                                    Loftmyndir uses Giro3D to display the 3D map of Iceland.
                                </p>
                                <a
                                    href="https://www.loftmyndir.is/"
                                    target="_blank"
                                    class="card-link"
                                    >Loftmyndir website</a
                                >
                                <a href="https://3d.map.is" target="_blank" class="card-link"
                                    >3d.map.is</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- Sourcepole -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/sourcepole.jpg"
                                    class="card-img-top"
                                    alt="Sourcepole"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sourcepole</h5>
                                <p class="card-text">
                                    Sourcepole integrates Giro3D in QGIS Web Client.
                                </p>
                                <a href="http://sourcepole.ch/en" target="_blank" class="card-link"
                                    >Sourcepole</a
                                >

                                <a
                                    href="https://github.com/qgis/qwc2"
                                    target="_blank"
                                    class="card-link"
                                    >QGIS Web Client</a
                                >
                            </div>
                        </div>
                    </div>

                    <!-- ANFSI -->
                    <div
                        class="col-sm-6 col-lg-4 mb-4"
                        style="position: absolute; left: 0%; top: 0px"
                    >
                        <div class="card">
                            <div class="m-5">
                                <img
                                    src="/images/sponsors/anfsi.png"
                                    class="card-img-top"
                                    alt="ANFSI"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">ANFSI</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">
                                    Agence du numérique des forces de sécurité intérieure
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <p>
                    If you wish to sponsor Giro3D and Piero, you can contact us at
                    <a href="mailto:infos+3d@oslandia.com">infos+3d@oslandia.com</a>.
                </p>
            </section>
        </main>

        <script
            src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
            crossorigin="anonymous"
            async
        ></script>
    </body>
</html>
